<!--<div class="card">
    <h1 class="text-center">SMD FAMILY RISK ASSESSMENT</h1>
    <div class="card-block">
        <form [formGroup]="sdmForm" (ngSubmit)="onSubmit(sdmForm)">
            <div class="row col-sm-12">
                <div class="form-group row">
                    <label or="referralName" class="col-sm-2 col-form-label">Referral Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" formControlName="referralName" placeholder="Referral Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="referralNumber" class="col-sm-2 col-form-label">Referral Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="referralNumber" formControlName="referralNumber" placeholder="Referral Number">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="countyName" class="col-sm-2 col-form-label">County Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="countyName" formControlName="countyName" placeholder="County Name">
                    </div>
                </div>
            </div>
            <div class=" row col-sm-12">
                <div class="form-group row">
                    <label class="col-form-label col-sm-2" for="workerName">Worker Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" formControlName="workerName" placeholder="Worker Name">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-from-label col-sm-2" for="workerId">Worker Id</label>

                    <div class="col-sm-10">
                        <input class="form-control" formControlName="workerId" placeholder="Worker Id">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2" for="date">Date</label>
                    <label for=""></label>
                    <div class="col-sm-10">
                        <input class="form-control" type="date" formControlName="date" placeholder="date">
                    </div>
                </div>
            </div>


            <div class="container">
                <div *ngFor="let topic of topics">
                    <h3>{{topic.id+'. '+ topic.title}}</h3>

                    <div *ngIf="topic.subTopics==1"> {{topic.id}}</div>

                </div>
                <!--<label>Prior neglect investigations</label>
                
        </label>
                </div>

                <label>Prior abuse investigations</label>
                <div *ngFor="let pAbuse of priorAbuses">
                    <label>
        <input type="radio" formControlName="priorAbuse"  
        [value]="pAbuse.title">
        {{pAbuse.title}}
        </label>
                </div>


                <label>Current Report maltreatment type</label>
                <div *ngFor="let maltreatment of currentMaltreatmentTypes">
                    <label>
        <input type="checkbox" formControlName="currentMaltreatmentType"  
        [value]="maltreatment.title">
        {{maltreatment.title}}
        </label>
                </div>
                <label>Characteristic of children in the household</label>
                <div *ngFor="let characteristic of childCharacteristics; let i=index">
                    <label>
        <input type="radio" formControlName="childCharacteristics"  
        [value]="characteristic.title">
        {{characteristic.title}} <br>
        <p *ngIf="characteristic.details">
           <span *ngFor="let detail of characteristic.details">
            &nbsp;&nbsp;<input type="checkbox" [value]="detail.name">
            {{detail.name}} <br>
            </span>
            </p>
         
        </label>
                </div>
                <h3>Primary or secondary caregiver alcohol and/or drug use</h3>
                <div *ngFor="let caregiverAlcoholDrugUse of caregiverAlcoholDrugUse">
                    <label>
        <input type="radio" formControlName="caregiverAlcoholDrugUse"  
        [value]="caregiverAlcoholDrugUse.title">
        {{caregiverAlcoholDrugUse.title}}
        </label>
                </div>

                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </form>

        <br>
        <br>
        <br>
        <p>Value: {{ sdmForm.value | json }}</p>
        <p>Validation status: {{ sdmForm.status }}</p>
    </div>
</div>n-->